@import /home/roger/Desktop/websiteLambert/1-tools/bourbon/bourbon
@import /home/roger/Desktop/websiteLambert/1-tools/animations/animations.scss
@import /home/roger/Desktop/websiteLambert/1-tools/animations/bounceOut.scss
  
$bgcolor: #e5eaee
$accent-light: #e1c184
$accent: #c99065
$documentBackgroundColor: #fff

// Placeholders

%background-image
  background:
    repeat: no-repeat, no-repeat
    size: 40px, cover
  
  
body 
  background-color: #fff
  font-family: 'PT Sans', sans-serif
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px


// Header section style

header
  position: relative
  nav 
    position: absolute
    float: right
    padding: 30px 30px 0 0
    z-index: 2
    right: 50px
    a 
     
      display: inline-block
      margin-left: 30px
      color: black
      text-decoration: none
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      

  .carousel-inner img 
    width: 100%
    height: 450px
  



// About Us Section 

.about-section
  text-align: center
  padding-bottom: 40px

  h2
    text-transform: uppercase
    padding-top: 50px
    padding-bottom: 3px
    

    


// Services Section 

.services-section
  background:
    image: url(https://res.cloudinary.com/dgdnxieva/image/upload/v1534762794/moringa/s_image.jpg)
    size: cover
  padding-bottom: 100px
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, 0.8)

  color: white 

  h2
    padding-top: 70px
    padding-bottom: 40px
    margin-left: 45%

  

@media screen and (max-width: 1058px)
  .services-section
    background:
      position: 50% 50%
   
  
// Work Section

.alt-section
  background: $bgcolor

  h2
    padding-top: 70px
    padding-bottom: 40px
    margin-left: 45%
    color: white

.section-work
  overflow-x: hidden

.work-belt
  width: 200%
  position: relative
  left: 0%
  +transition(all 800ms)

.thumb-wrap, .work-wrap
  width: 50%
  float: left

.thumb-container
  max-width: 960px
  margin: 0px auto
  padding-bottom: 100px
  +clearfix 

  .thumb-unit
    display: block
    width: 25%
    float: left
    position: relative
    padding-top: 16%
    cursor: pointer
    background: 
      position: center center 
      repeat: no-repeat
      size: cover

    +perspective(300)

    @media screen and (max-width: 760px)
      width: 50%
      padding-top: 26%

    .thumb-overlay
      +position(absolute, 0% 0px null 0px)
      height: 100%
      background: fade-out($accent, 0.1)
      +display(flex)
      +align-items(center)
      +justify-content(space-around) 
      +transform(matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))
      opacity: 0
      +transition(opacity, 300ms, ease-in, 500ms)


      strong
        display: block
        padding: 0px 20px
        color: white
        font:
          weight: 300
          size: 24px
        text-transform: uppercase
        line-height: 1.2

    &:hover 
      z-index: 2

      .thumb-overlay
        @extend %animation
        opacity: 1

.work-container
  max-width: 600px
  margin: 0px auto
  position: relative
  display: none 

  h3 
    color: $accent
    font-weight: 300
    text-transform: uppercase
    font-size: 24px
    line-height: 1.2
    margin: 0 0 20px

  img 
    max-width: 100% 
    margin-bottom: 20px

  .work-return
    +size(40px)
    cursor: pointer
    opacity: 0.5
    +position(absolute, -5px null null -60px)

    path
      fill: rgba(0,0,0,0.4)

    &:hover
      opacity: 1 

@media screen and (max-width: 740px)
  .work-container
        
    .work-return
      left: 0px

    h4
      margin-left: 60px

@media screen and (max-width: 541px)
  .skill-lockup
    width: 220px

    .skill-unit
      width: 220px



// Form-section
.section-contact
  background:
    image: url(https://res.cloudinary.com/dgdnxieva/image/upload/v1534762792/moringa/c_image.jpg)
    size: cover 
  
  h2
    color: white
    text-align: center
    text-transform: uppercase
    padding-top: 50px
    padding-bottom: 20px
form 
  max-width: 600px
  margin: 0 auto 50px
  
  
  input, textarea
    border: 3px solid white 
    width: 100%
    +box-sizing(border-box)
    padding: 10px
    background-color: transparent
    

    &:focus
      outline: none 
      border-color: $accent-light

  textarea
    height: 12em
    margin-bottom: 50px

    .submit-wrap
      text-align: right

  [type="submit"]
    background: $accent
    color: white
    font-size: 18px
    text-transform: uppercase
    width: 33%


    &:hover
      background: $accent-light

  .contact-info-group

    label
      width: 50%
      float: left
      +box-sizing(border-box)

      &:nth-child(1)
        padding-right: 10px
      
      &:nth-child(2)
        padding-left: 10px

  label
    display: block
    margin-bottom: 20px


  ::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white
    opacity: 1 

// Social media Links

footer 
  margin-bottom: 20px
  .copyright
    text-align: center 
    text-transform: uppercase
  
  .client-title
    font-style: normal
    font-size: 16px
    margin-left: 600px 

.icons-wrap 
  max-width: 700px
  margin: 0px auto 50px
  +display(flex)
  +justify-content(space-around)
  +flex-wrap(wrap) 

  a
    display: block 
    +size(50px)
    line-height: 50px
    +transition()

    &:hover
      +transform(scale(1.2))

  [class^="icon-"]
    +size(40px)
    padding-right: 20px
    justify-content: space-around



// Footer styles 

footer 
  background-color: black